In [1]:
import pandas as pd

In [2]:
# Load csv file
df = pd.read_csv('AQI and Lat Long of Countries.csv')

In [3]:
df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16393 non-null  object
 1   City                16695 non-null  object
 2   AQI Value           16695 non-null  int64
 3   AQI Category        16695 non-null  object
 4   CO AQI Value        16695 non-null  int64
 5   CO AQI Category     16695 non-null  object
 6   Ozone AQI Value     16695 non-null  int64
 7   Ozone AQI Category  16695 non-null  object
 8   NO2 AQI Value       16695 non-null  int64
 9   NO2 AQI Category    16695 non-null  object
 10  PM2.5 AQI Value     16695 non-null  int64
 11  PM2.5 AQI Category  16695 non-null  object
 12  lat                 16695 non-null  float64
 13  lng                 16695 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.8+ MB

In [5]:
# Drop null values in `Country` column
df_dropped = df.dropna(subset=['Country'])

In [7]:
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16393 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16393 non-null  object
 1   City                16393 non-null  object
 2   AQI Value           16393 non-null  int64
 3   AQI Category        16393 non-null  object
 4   CO AQI Value        16393 non-null  int64
 5   CO AQI Category     16393 non-null  object
 6   Ozone AQI Value     16393 non-null  int64
 7   Ozone AQI Category  16393 non-null  object
 8   NO2 AQI Value       16393 non-null  int64
 9   NO2 AQI Category    16393 non-null  object
 10  PM2.5 AQI Value     16393 non-null  int64
 11  PM2.5 AQI Category  16393 non-null  object
 12  lat                 16393 non-null  float64
 13  lng                 16393 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.9+ MB

In [9]:
# Extract unique values from the 'country' column
unique_countries = df_dropped['Country'].unique()

# Display the unique countries
print(unique_countries)

['Russian Federation' 'Brazil' 'Italy' 'Poland' 'United States of America'
 'Belgium' 'China' 'Netherlands' 'France' 'Colombia' 'Romania' 'Indonesia'
 'Finland' 'South Africa'
 'United Kingdom of Great Britain and Northern Ireland' 'India' 'Haiti'
 'Philippines' 'Latvia' 'Germany' 'New Zealand' 'Mexico' 'Japan'
 'El Salvador' 'Nigeria' 'South Sudan' 'Ireland' 'Turkey'
 'Democratic Republic of the Congo' 'Canada' 'Switzerland' 'Denmark'
 'Cameroon' 'Australia' 'Portugal' 'Ethiopia' 'Hungary'
 'Iran (Islamic Republic of)' 'Israel' "CÃ´te d'Ivoire" 'Papua New Guinea'
 'Madagascar' 'Ghana' 'Armenia' 'Guatemala' 'Pakistan' 'Thailand'
 'Malaysia' 'Ecuador' 'Argentina' 'Peru' 'Dominican Republic' 'Azerbaijan'
 'Spain' 'Guinea' 'Bolivia (Plurinational State of)' 'Chile'
 'Republic of North Macedonia' 'Kazakhstan' 'Serbia' 'Egypt' 'Czechia'
 'Malawi' 'Sierra Leone' 'Ukraine' 'Benin' 'Namibia' 'Albania' 'Guyana'
 'Senegal' 'Lesotho' 'Venezuela (Bolivarian Republic of)' 'Bulgaria'
 'Somalia' 'Solomon Islands' 'Paraguay' 'Zimbabwe' 'Austria' 'Croatia'
 'Chad' 'Honduras' 'United Republic of Tanzania' 'Cambodia' 'Uganda'
 'Cuba' 'Uruguay' 'Republic of Moldova' 'Myanmar' 'Angola'
 'Kingdom of Eswatini' 'Zambia' 'Morocco' 'Slovakia' 'Sweden' 'Belarus'
 'Norway' 'Mongolia' 'Malta' 'Rwanda' 'Botswana' 'Sri Lanka' 'Burundi'
 'Jamaica' 'Kenya' 'Slovenia' 'Mauritius' 'Nicaragua' 'Uzbekistan'
 'Republic of Korea' 'Burkina Faso' 'Cabo Verde' 'Mozambique' 'Mauritania'
 'Guinea-Bissau' 'United Arab Emirates' 'Bangladesh' 'Eritrea' 'Barbados'
 'Algeria' 'Saudi Arabia' 'Syrian Arab Republic' 'Tajikistan' 'Greece'
 'Liberia' "Lao People's Democratic Republic" 'Bhutan' 'Costa Rica'
 'Gambia' 'Kyrgyzstan' 'Lithuania' 'Viet Nam' 'Bosnia and Herzegovina'
 'Saint Lucia' 'Iraq' 'Mali' 'Georgia' 'Libya' 'Niger'
 'Central African Republic' 'Sudan' 'Trinidad and Tobago' 'Turkmenistan'
 'Gabon' 'Estonia' 'Panama' 'Togo' 'Congo' 'Comoros' 'Nepal' 'Jordan'
 'Montenegro' 'Equatorial Guinea' 'Luxembourg' 'Aruba' 'Tunisia' 'Belize'
 'Andorra' 'Iceland' 'Palau' 'Suriname' 'Singapore' 'Maldives' 'Bahrain'
 'Lebanon' 'Seychelles' 'State of Palestine' 'Cyprus' 'Afghanistan'
 'Yemen' 'Oman' 'Kuwait' 'Saint Kitts and Nevis' 'Qatar' 'Monaco']

In [14]:
# Create new CSV
df_dropped.to_csv('AQI_clean.csv', index=False)